# Core
NODE_ENV=production
PORT=3000

# WhatsApp
SESSION_NAME=DOPE_SASA_MD

# MongoDB
MONGO_DB_URL=mongodb+srv://<user>:<pass>@cluster.mongodb.net/?retryWrites=true&w=majority
MONGO_DB_PASSWORD=your_db_password

# AI
GROQ_API_KEY=gsk_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Bot
OWNER_NUMBER=9647838159843
BOT_IMAGE_URL=https://files.catbox.moe/cebsbp.jpeg
BOT_FOOTER=© 𝐏𝐎𝐖𝐄𝐑𝐃 𝐁𝐘 𝐃𝐎𝐏𝐄 𝐒𝐀𝐒𝐀 𝐌𝐃\n𝐂𝐎𝐍𝐍𝐄𝐂𝐓 𝐁𝐎𝐓 :- https://dope-sasa-md.onrender.app
BOT_PREFIX=.

# Features
AUTO_STATUS_SEEN=true
AUTO_STATUS_LIKE=true
AUTO_REACT=true
ANTI_CALL=true
ALWAYS_ONLINE=true
